__pycache__/
build/
dist/
.DS_Store
.vscode
civitai_downloader.egg-info/
civitai_model_downloader.egg-info/
civitai_downloader/*/__pycache__/
civitai_downloader/__pycache__/
.pytest_cache/
*.safetensors
*.ckpt
*.zip
test.ipynb